# Intellij
.idea/
*.iml
venv/
logs/

# Mac
.DS_Store
.Trash-0

# Python
__pycache__/
*.py[cod]
*$py.class
dist/
*.egg-info

# Jupyter notebook
*/.ipynb_checkpoints/
/notebooks_dev
/notebooks

# Secrets
/secrets

#
.pre-commit-config.yaml